body{
    background-color: aquamarine;
}
#sketch_name{
    color: rgb(255, 47, 0);
}
#show_sketch{
    float:right;
}
p{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#score{
    font-size: 35px;
    margin-left: 20px;
}
#time{
    font-size: 35px;
    margin-right: 20px;
    float:right;
}

